<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="EventHubName" value=""/>
    <add key="StorageContainer" value=""/>  
    <add key="ConsumerGroup" value=""/>  
  </appSettings>
  <connectionStrings>
    <add name="EventHubListen" connectionString="" providerName="Microsoft.EventHubs" />
    <add name="StorageAccount" connectionString="" providerName="Microsoft.Storage" />
  </connectionStrings>
</configuration> 

<!--
RW5kcG9pbnQ9c2I6Ly9laG5hemV3ZG1saXRha2UwNjUuc2VydmljZWJ1cy53aW5k
b3dzLm5ldC87U2hhcmVkQWNjZXNzS2V5TmFtZT1MaXN0ZW5Pbmx5O1NoYXJlZEFj
Y2Vzc0tleT1qWTRSQzdCWDZidFljeHBlT3N0V1JObVFqWENjdGFSQStjOUdmS1Fx
UjRjPTtFbnRpdHlQYXRoPXRlc3QtaHViLTIgcHJvdmlkZXJOYW1lPU1pY3Jvc29m
dC5FdmVudEh1YnMK
-->
