<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="EventHubName" value=""/>
    <add key="StorageContainer" value=""/>  
    <add key="ConsumerGroup" value=""/>  
  </appSettings>
  <connectionStrings>
    <add name="EventHubListen" connectionString="" providerName="Microsoft.EventHubs" />
    <add name="StorageAccount" connectionString="" providerName="Microsoft.Storage" />
  </connectionStrings>
</configuration> 